################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyDigiMenu/.vs/MyDigiMenu
/MyDigiMenu/MyDigiMenu/bin
/MyDigiMenu/MyDigiMenu/obj/Release
/MyDigiMenu/MyDigiMenu/Properties/PublishProfiles
